.b-footer{
    padding: 20px 0 15px;
    @media (max-width: $tabWidth){
        margin-top: 55px;
    }
    &__cnt{
        width: 100%;
        justify-content: center;

        &_1{
            color: white;
            align-items: center;
            
            @media (max-width: $xlWidth){
                font-size: 0.75em;
            }
            
            @media (max-width: $tabWidth ){
                flex-direction: column;
            }
        }
        &_2{
            font-size: 0.83em;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);
            padding-top: 1.5em;
            text-align: center;
            @media (max-width: $mobWidth){
                font-size: 0.5em;
                margin-bottom: 20px;
            }
        }
    }

    &__address{
        text-align: right;
        text-transform: uppercase;
        font-size: 1.2em;

        i{
            margin-left: 1em;
            @media (max-width: $tabWidth ){
                margin-left: 0;
                margin-bottom: 8px;
            }
        }

        @media (max-width: $tabWidth ){
            order: 2;
            flex-direction: column-reverse;
            text-align: center;
            font-size: 0.81em;
            margin: 20px 0;
        }
    }
    &__phones{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 0 3em;
        margin: 0 2em;
        &::before, &::after{
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: 73%;
            top: 14%;
            background-color: var(--cRed);
            // top: 0;
            @media (max-width: $tabWidth ){
                display: none;
            }
        }
        &::before{ left: 0; }
        &::after{ right: 0; }

        @media (max-width: $tabWidth){
            margin: 0;
            padding: 0;
            order: 1;
        }

        
    }
    &__social-and-phone{
        display: flex;
        align-items: center;
        img{
            max-width: 1em;
        }
    }

    &__email{
        a{
            text-decoration: none;
            display: flex;
            align-items: center;

            @media (max-width: $tabWidth ){
    
                flex-direction: column;
                text-align: center;
                i{
                    margin-right: 0 !important;
                }
            }
        }
        text-transform: uppercase;
        font-size: 1.13em;

        @media (max-width: $tabWidth ){
            order: 3;
            margin-top: 15px;
            font-size: 0.81em;
            i{
                margin-bottom: 7px;
            }
        }
    }
}