.b-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    
    @media (max-width: 1500PX){
        font-size: 0.85em;
    }


    &__img{
        max-width: 14.1em;
    }
    &__slogan{
        margin-top: 1.4em;
        font-size: 1.25em;
    }
}