.b-menu{
    list-style: none;
    display: flex;

    &__item{
        margin: 0 5px;
        &.is-active{
            color: var(--cRed);
        }

    
    }


    &__link{
        text-decoration: none;
        transition: 350ms ease-in-out;
        
    }

    &_social{
        align-items: center;
        .b-menu__item{
            margin: 0 1.1em;
            transition: filter 350ms ease-in-out;
            &:first-child{ margin-left: 0; }
            &:last-child{ margin-right: 0; }

            &:hover{
                transform: scale(1.1);
                filter: grayscale(1) brightness(5);
            }
        }
    }
    
    &_lang{
        color: white;
        font-size: 1.87em;

        .b-menu__item{
            margin: 0 0.8em;
            
            &:hover{
                color: var(--cRed);
                transform: scale(1.1);
            }

            &:first-child{ margin-left: 0; }
            &:last-child{ margin-right: 0; }
        }
    }

    &_social, &_lang{
        .b-menu__item{
          
            @media (max-width: 1500px ){
                margin: 0 0.4em;
                font-size: 0.8em;
                IMG{
                    max-width: 80%;
                }
            }
        }
    }
}