.b-main{


    &__cnt{
        width: 100%;
    }
    &__col{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        
        &_l{
            padding-right: 1em;

            &:after{
                content: '';
                position: absolute;
                right: -1px;
                top: 0;
                width: 3px;
                height: 33px;
                background-color: var(--cRed);
            }
        }
        
        &_r{
            padding-left: 1em;
        }
    }

    &__col-title{
        width: 100%;
        color: white;
        font-size: 1.87em;

        &_l{
            text-align: right;
        }
        &_r{
            text-align: left;
        }
    }

    &__cards{
        width: 100%;
        display: flex;


        &_l{
            justify-content: flex-end;
        }
        &_r{
            justify-content: flex-start;
        }
    }

}