
  .b-outer {
    &__cnt {
      
    }
    &__col {
        width: 50%;
        display: flex;
        align-items: center;
        position: relative;
        
        &_left{
            justify-content: flex-end;
            padding-right: 1.7em;

            &:after{
                content: '';
                position: absolute;
                right: 0px;
                top: 33px;
                width: 1px;
                height: 54px;
                background-color: var(--cRed);
            }
        }    
        &_right {
            justify-content: flex-start;
            padding-left: 1.7em;
        }
    }
    
    &__social{
        display: flex;

        a{
            transition: filter 350ms ease-in-out;

            margin: 0 1em;
            filter: grayscale(4) brightness(5);
            &:hover{
                filter: none;
            }
        }


        &_l{
            margin-right: 2em;
        }
        &_r{
            margin-left: 2em;
        }
    }
      
    &-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 1.5em;
        transition: 350ms ease-in-out;


        &__title {
        }
        &__img {
            transition: 350ms ease-in-out;
            width: 4.96em;
            height: 4.96em;
        }
        

        &_left{
            span{
                margin-right: 1em;
            }
        }
        &_right{
            span{
                margin-left: 1em;
            }
        }

        &:hover {
            color: var(--cRed);
            transition: inherit;
            img{
                transform: scale(0.9);
            }
        }
    }
  }