
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    // padding: 1.55em 1.7em 1.45em;
    padding: 0.7em 0.5em 0.5em;
    // padding: 1em 1.5em;
    color: white;
    outline: none;
    cursor: pointer;
    font-size: 0.75em;
    // border-radius: 5px;
    transition: 350ms ease-in-out;
    // text-transform: uppercase;
    
    // @media (max-width: $tabWidth){
    //     font-size: 0.9em;
    // }
    
    &_menu{
        padding: 0;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            font-size: 0.95em;
            margin-right: 1.5em;
        }
    }
    
    &_prim{
        background-color: var(--cPrimary);
        border: solid 1px var(--cPrimary);
        transition: 350ms ease-in-out;
        &:hover{
            background-color: white;
            color: var(--cPrimary);
        }
    }
    &_light{
        background-color: white;
        border: solid 1px white;
        transition: 350ms ease-in-out;
        color: var(--cPrimary);
        &:hover{
            color: black;
            background-color: white;
            border: solid 1px black;
        }
    }
    &_trans{
        border: solid 1px currentColor;
        &:hover{
            // color: black;
            color: var(--cPrimary);
            background-color: white;
            // border: solid 1px black;
        }
    }


    
    &_huge{
        padding: 2.25em 4em;
    }
    &_huge-2{
        padding: 2em 2.3em;
    }

}



.btn_red{
    @extend .btn;
    background-color: var(--cRed);
    border: solid 2px var(--cRed);
    color: white;
    
    transition: 350ms ease-in-out;
    &:hover{
        // background-color: white;
        background-color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
        color: var(--cRed);
    }
}
.btn_border-white{
    border: solid 2px white;
}
.btn_green{
    @extend .btn;
    background-color: var(--cGreen);
    border: solid 1px var(--cGreen);
    color: white;
    
    transition: 350ms ease-in-out;
    &:hover{
        background-color: rgba(255, 255, 255, 0.9);
        color: var(--cGreen);
    }
}

.btn_full{
    width: 100%;
    text-align: center;
}
// .Прямоугольник_1_копия_4 {
    
//     position: absolute;
//     left: 240px;
//     top: 569px;
//     width: 365px;
//     height: 90px;
//     z-index: 125;
//   }
  